/vendor/
/var/
/public/_assets/
/public/typo3/*
!/public/typo3/index.php
!/public/typo3/install.php
/public/typo3conf/ext/
/public/typo3temp/
/public/fileadmin/
*.sql.gz
*.sql
.ddev/
node_modules/
config/system/settings.php
.DS_Store
